body{
  width: 100vw;
  height: 100vh;
}
/* Aplicar la fuente Mulish globalmente */
* {
  font-family: 'Mulish', serif;
}

/* Clases personalizadas para diferentes pesos */
.mulish-light {
  font-family: 'Mulish', serif;
  font-weight: 200;
}

.mulish-regular {
  font-family: 'Mulish', serif;
  font-weight: 400;
}

.mulish-bold {
  font-family: 'Mulish', serif;
  font-weight: 700;
}

.mulish-extra-bold {
  font-family: 'Mulish', serif;
  font-weight: 900;
}